# Игнорировать байт-код Python и кеши
__pycache__/
*.py[cod]
*.pyo

# Игнорировать директории виртуальных окружений
.venv/
env/
venv/

# Игнорировать настройки IDE и редакторов
.idea/
.vscode/

# Игнорировать кеш pytest
.pytest_cache/

# Игнорировать системные файлы
.DS_Store

# Игнорировать дополнительные файлы логов и временные файлы
*.log
*.tmp
